h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #2C2C54;
  font-family: 'Black Chancery', serif;
}

p {
  font-size: 18px;
  color: #2C2C54;
}

main > div {
  background-color: #ECECEC;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px;
  text-align: left;
  color: #2C2C54;
}

main > div > a {
  color: #2C2C54;
  font-size: 18px;
}

main > div > a:hover {
  background-color: #AAABB8;
  color: #ECECEC;
}

main > div > a:focus {
  background-color: #AAABB8;
  color: #ECECEC;
  outline: none;
}

#container2 {
  grid-area: area2;
}

#container3 {
  grid-area: area3;
}

main {
  background-color: #2C2C54;
  display: grid;
  grid-template-areas:
    "."
    "area2"
    "area2"
    "area3"
    "area3"
    "area3";
  grid-gap: 20px;
  padding: 20px;
}

@media only screen and (min-width: 992px) {
  main {
    grid-template-areas:
      ".     area3 "
      "area2 area3 "
      "area2 area3 ";
  }
}