h2 {
	display: none;
	font-family: 'Black Chancery', serif;
  }
  
  aside {
	background: #ECECEC;
	font-size: 120%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
  }
  
  aside a {
	color: #2C2C54;
	display: block;
	padding: 5px 0;
	text-decoration: none;
	width: 100%;
  }
  
  aside a:hover {
	background-color: #AAABB8;
	color: #ECECEC;
  }
  
  aside a:focus {
	background-color: #AAABB8;
	color: #ECECEC;
	outline: none;
  }
  
  article {
	background-color: #ECECEC;
	color: #2C2C54;
	font-size: 120%;
	padding: 0 10px;
  }
  
  article a {
	color: #2C2C54;
	padding: 5px;
	text-decoration: none;
  }
  
  article a:hover {
	background-color: #AAABB8;
	color: #ECECEC;
  }
  
  article a:focus {
	background-color: #AAABB8;
	color: #ECECEC;
	outline: none;
  }
  
  #main_image {
	width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
	main {
	  display: flex;
	}
  
	aside {
	  align-items: center;
	  display: flex;
	  flex-direction: column;
	  float: left;
	  justify-content: center;
	  width: 30%;
	}
  
	section {
	  display: inline;
	  float: right;
	  width: 70%;
	}
  }